# Python virtual environment requirements file.
# Usage:
#     python3 -m venv venv
#     source venv/bin/activate
#     pip3 install -r requirements.txt
#     ./summarize.py # and others
opencv-python
numpy
scipy
Pillow
Mako
